.direct-chat-message {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    padding: 10px;
    height: 250px;
    overflow: auto;
    transition: transform .5s ease-in-out;
}