.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.m-0 {
    margin: 0!important;
}
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}
.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td, th {
    display: table-cell;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}
th {
    font-weight: bold;
    vertical-align: middle;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #17a2b8;
}
.nav-link-result {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link-result:hover, .nav-link-result:focus {
    text-decoration: none;
}

.nav-link-result.disabled {
    color: #6c757d;
}
.nav-tabs .nav-link-result {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link-result:hover, .nav-tabs .nav-link-result:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link-result.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link-result.active,
.nav-tabs .nav-item.show .nav-link-result {
    color: #495057;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #ffffff;
}

.nav-pills .nav-link-result {
    border-radius: 0.25rem;
}

.nav-pills .nav-link-result.active,
.nav-pills .show > .nav-link-result {
    color: #ffffff;
    background-color: #007bff;
}
.detail {
    display: block;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #495057;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #dee2e6;

}
.detail:hover {
    color: #ffffff;
    background-color: #007bff;
}