<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <%= require('html-loader!./layout/head-search.html') %>
    <title>专利系统index页面</title>
</head>

<body>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/nav-simple.html') %>
<div class="page-wrap-multi">
    <div class="search-side row col-md-4">
        <%= require('html-loader!./search/multi-search.html') %>
    </div>
    <div class="search-result row col-md-8">
            <%= require('html-loader!./layout/search-result.html') %>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
<script>
    (function(){
        this.click=function(data){
            var selected = $(data);
            var former = $('#side_chosen');
            var standard_search = $('#standard_search');
            var second_search = $('#second_search');
            former.attr("id","not_chosen")
            selected.attr("id","side_chosen");
            if (data === '.button1')
            {
                standard_search.attr("class","col-md-12");
                second_search.attr("class","col-md-12 hide");
                $('.nav-side').attr("id","basic");

            }else{
                standard_search.attr("class","col-md-12 hide");
                second_search.attr("class","col-md-12");
                $('.nav-side').attr("id","prime");
            }
        }
        window.SlideClick=this;
    })();
    (function(){
        this.resultclick=function(data){
            var selected = $(data);
            var former = $('.nav-link-result.active');
            if(selected.attr("id") === former.attr("id"))
            {

            }else{
                selected.attr("class","nav-link-result active");
                former.attr("class","nav-link-result");
            }
        }
        this.searchclick=function(data){
            var selected = $(data);
            var former = $('.nav-link-search.active');
            selected.attr("class","nav-link-search active");
            former.attr("class","nav-link-search");
        }
        this.showResult=function(){
            console.log($('#select2-item').val());
        }
        window.Click=this;
    })();
    (function(){
        // $('.form-group').find('input[type=checkbox]').bind('click', function(){
        // $('.form-group').find('input[type=checkbox]').not(this).attr("checked", false);});
        $('#patent-form-group').find('input[type=radio]').bind('click', function(){
        $('#patent-form-group').find('input[type=radio]').not(this).attr("checked", false);});
        $('#inventor-form-group').find('input[type=radio]').bind('click', function(){
        $('#inventor-form-group').find('input[type=radio]').not(this).attr("checked", false);});
        $('#titlesearch-form-group').find('input[type=radio]').bind('click', function(){
        $('#titlesearch-form-group').find('input[type=radio]').not(this).attr("checked", false);});
        $('#digest-form-group').find('input[type=radio]').bind('click', function(){
        $('#digest-form-group').find('input[type=radio]').not(this).attr("checked", false);});
        $('#assginee-form-group').find('input[type=radio]').bind('click', function(){
        $('#assignee-form-group').find('input[type=radio]').not(this).attr("checked", false);});
        $('#nber-form-group').find('input[type=radio]').bind('click', function(){
        $('#nber-form-group').find('input[type=radio]').not(this).attr("checked", false);});
    })();
</script>
</html>