<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <%= require('html-loader!./layout/head-search.html') %>
    <title>专利系统详情页面</title>
</head>
<body>
<section class="detail">
        <%= require('html-loader!./layout/nav.html') %>
        <%= require('html-loader!./layout/nav-simple.html') %>
        <div class="w">
            <div class="content with-nav">
                <%= require('html-loader!./person/display.html') %>
                <%= require('html-loader!./person/graph.html') %>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html') %>
</section>
<section class="elastic-layer close">
        <div class="login-panel">
        
        </div>
</section>
</body>
</html>