<!--搜索条件框-->
<div class="card card-default">
        <!--头信息：改为选择块-->
        <div class="card-header">
            <ul class="nav nav-pills col-md-9">
                <h3 class="card-title">专利分析</h3>
            </ul>
            <!--/*框选项*/-->
            <div class="card-tools col-md-3">
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!--框选项结束-->
        </div>
        <!--头信息结束-->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <!--搜索项选择器-->
                    <section class="content">
                        <div class="container-fluid">
                            <div id="trendGraph" style="width: 700px;height:400px;"></div>
                            
                            <div id="pieGraph" style="width: 700px;height:400px;"></div>
                            <div id="cloudGraph" style="width: 700px;height:400px;"></div>
                        </div>
                        <!-- /.row -->
                    </section>
                    <!--搜索器选择项结束-->
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <!--搜索框结束-->