<!--搜索条件框-->
<div class="card card-default">
    <!--头信息：改为选择块-->
    <div class="card-header">
        <ul class="nav nav-pills col-md-9">
            <h3 class="card-title">发明人简介</h3>
        </ul>
        <!--/*框选项*/-->
        <div class="card-tools col-md-3">
            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!--框选项结束-->
    </div>
    <!--头信息结束-->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!--搜索项选择器-->
                <section class="content">
                    <div class="container-fluid">
                        <div class="most-cited-patents col-md-4" id="inventor-cited">
                            <div class="sub-title">MOST CITED PATENTS</div>
                            <hr>
                            <div class="cited-patents">
                                1. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                <div id="cited-num">115 Citations</div>
                            </div>
                            <div class="cited-patents">
                                2. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                <div id="cited-num">115 Citations</div>
                            </div>
                            <div class="cited-patents">
                                3. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                <div id="cited-num">115 Citations</div>
                            </div>
                            <div class="cited-patents">
                                4. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                <div id="cited-num">115 Citations</div>
                            </div>
                            <div class="cited-patents">
                                5. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                <div id="cited-num">115 Citations</div>
                            </div>
                        </div>

                        <div class="relationship-graph col-md-8">
                            <div class="sub-title" id="graph-text">发明人关键词图</div>
                            <div id="cloud-graph" style="width: 700px;height:400px;"></div>
                        </div> 
                        
                    </div>
                    <!-- /.row -->
                </section>
                <!--搜索器选择项结束-->
            </div>
        </div>
        <!-- /.tab-content -->
    </div>

</div>
<!--搜索框结束-->

<div class="static-block" id="person-static-block">
    <div class="top-assignees col-md-4">
            <div class="sub-title">MOST CITED PATENTS</div>
            <hr>
            <div class="cited-patents">
                1. <a href=# id="cited-title">LG Electronics Inc.</a>
                <div id="cited-num">863 Patents</div>
            </div>
            <div class="cited-patents">
                2. <a href=# id="cited-title">LG Electronics Inc.</a>
                <div id="cited-num">863 Patents</div>
            </div>
            <div class="cited-patents">
                3. <a href=# id="cited-title">LG Electronics Inc.</a>
                <div id="cited-num">863 Patents</div>
            </div>
    </div>
    <div class="top-assignees col-md-4">
            <div class="sub-title">MOST MENTIONED NBER CLASSES</div>
            <hr>
            <div class="cited-patents">
                1. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
            <div class="cited-patents">
                2. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
            <div class="cited-patents">
                3. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
    </div>
    <div class="top-assignees col-md-4">
            <div class="sub-title">MOST MENTIONED CPC CLASSES</div>
            <hr>
            <div class="cited-patents">
                1. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
            <div class="cited-patents">
                2. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
            <div class="cited-patents">
                3. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                <div id="cited-num">484 Patents</div>
            </div>
    </div>
</div>
<br>
<!--搜索条件框-->
<div class="card card-default">
        <!--头信息：改为选择块-->
        <div class="card-header">
            <ul class="nav nav-pills col-md-9">
                <h3 class="card-title">专利数量分析</h3>
            </ul>
            <!--/*框选项*/-->
            <div class="card-tools col-md-3">
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!--框选项结束-->
        </div>
        <!--头信息结束-->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <!--搜索项选择器-->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="relationship-graph col-md-8">
                                <div id="trend-graph" style="width: 600px;height:400px;"></div>
                            </div>
                            <div class="most-cited-patents col-md-4" id="inventor-recent">
                                    <div class="sub-title">MOST RECENT PATENTS</div>
                                    <hr>
                                    <div class="cited-patents">
                                        1. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                        <div id="cited-num">May29,2018</div>
                                    </div>
                                    <div class="cited-patents">
                                        2. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                        <div id="cited-num">May29,2018</div>
                                    </div>
                                    <div class="cited-patents">
                                        3. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                        <div id="cited-num">May29,2018</div>
                                    </div>
                                    <div class="cited-patents">
                                        4. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                        <div id="cited-num">May29,2018</div>
                                    </div>
                                    <div class="cited-patents">
                                        5. <a href=# id="cited-title">Method and apparatus for providing point-to-point</a>
                                        <div id="cited-num">1May29,2018</div>
                                    </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </section>
                    <!--搜索器选择项结束-->
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
</div>
<!--搜索框结束-->

<div class="card card-default">
        <!--头信息：改为选择块-->
        <div class="card-header">
            <ul class="nav nav-pills col-md-9">
                <h3 class="card-title">合作者分析</h3>
            </ul>
            <!--/*框选项*/-->
            <div class="card-tools col-md-3">
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!--框选项结束-->
        </div>
        <!--头信息结束-->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <!--搜索项选择器-->
                    <section class="content">
                        <div class="container-fluid">
                            
                            <div id="co-graph" style="width: 1000px;height:700px;"></div>
                        </div>
                        <!-- /.row -->
                    </section>
                    <!--搜索器选择项结束-->
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
</div>

